<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mustafa_LogViewer::logs"
             title="Logs"
             translate="title"
             module="Mustafa_LogViewer"
             sortOrder="100"
             parent="Magento_Backend::system"
             resource="Mustafa_LogViewer::logs"/>

        <add id="Mustafa_LogViewer::logviewer"
             title="Log Viewer"
             translate="title"
             module="Mustafa_LogViewer"
             sortOrder="10"
             parent="Mustafa_LogViewer::logs"
             action="logviewer/logs/index"
             resource="Mustafa_LogViewer::logviewer"/>
    </menu>
</config>